<app-navbar></app-navbar>

<div class="container mt-5">
  <form>
    <div *ngFor="let item of orderItems; let i = index" class="mb-3">
      <div class="row">
        <div class="col-md-4">
          <label for="productId{{ i }}" class="form-label"
            >Product ID {{ i + 1 }}:</label
          >
          <input
            type="text"
            class="form-control"
            id="productId{{ i }}"
            [value]="item.product.id"
            disabled
          />
        </div>
        <div class="col-md-4">
          <label for="quantity{{ i }}" class="form-label"
            >Quantity {{ i + 1 }}:</label
          >
          <input
            type="number"
            class="form-control"
            id="quantity{{ i }}"
            [value]="item.Quantity"
            disabled
          />
        </div>
        <div class="col-md-4">
          <label for="totalAmount{{ i }}" class="form-label"
            >Total Amount {{ i + 1 }}:</label
          >
          <input
            type="text"
            class="form-control"
            id="totalAmount{{ i }}"
            [value]="item.totalAmount"
            disabled
          />
        </div>
      </div>
    </div>

    <button type="button" class="btn btn-primary" (click)="createOrderItems()">
      Submit Order Items
    </button>
  </form>
</div>
