<form>
  <div *ngFor="let item of orderItems; let i = index">
    <label for="productId{{ i }}">Product ID {{ i + 1 }}:</label>
    <input
      type="text"
      id="productId{{ i }}"
      name="productId{{ i }}"
      [value]="item.product.id"
      disabled
    />

    <label for="quantity{{ i }}">Quantity {{ i + 1 }}:</label>
    <input
      type="number"
      id="quantity{{ i }}"
      name="quantity{{ i }}"
      [value]="item.Quantity"
      disabled
    />

    <!-- Display total amount -->
    <label for="totalAmount{{ i }}">Total Amount {{ i + 1 }}:</label>
    <input
      type="text"
      id="totalAmount{{ i }}"
      name="totalAmount{{ i }}"
      [value]="item.totalAmount"
      disabled
    />
  </div>

  <button type="button" (click)="createOrderItems()">Submit Order Items</button>
</form>
