<div class="container">
  <div class="row">
    <div class="col-md-9 mx-auto">
      <div class="col-md-3">
        <button
          class="btn btn-primary btn-block mb-3"
          [routerLink]="['createUserAdmin']"
        >
          Create User
        </button>
      </div>
      <div class="main-content card card2 p-3">
        <div class="col-md-12">
          <div class="main-content card card2 p-3">
            <div class="user-columns">
              <ng-container *ngFor="let user of users" class="user-container">
                <div class="user-row">
                  <div class="user-data">
                    <p>
                      {{ user.id }} - {{ user.firstName }} {{ user.lastName }} -
                      {{ user.email }} - {{ user.role }} - {{ user.city }} -
                      {{ user.street }} - {{ user.country }}
                    </p>
                  </div>
                  <div class="user-actions">
                    <div
                      *ngIf="isEditingUser && selectedUserId === user.id"
                      class="edit-fields"
                    >
                      <input
                        type="text"
                        [(ngModel)]="user.newName"
                        placeholder="New Name"
                      />
                      <input
                        type="text"
                        [(ngModel)]="user.newLastName"
                        placeholder="New Last Name"
                      />
                      <input
                        type="text"
                        [(ngModel)]="user.newEmail"
                        placeholder="New Email"
                      />
                      <input
                        type="text"
                        [(ngModel)]="user.newRole"
                        placeholder="New Role"
                      />
                      <input
                        type="password"
                        [(ngModel)]="user.newPw"
                        placeholder="New Password"
                      />
                      <input
                        type="text"
                        [(ngModel)]="user.newCity"
                        placeholder="New City"
                      />
                      <input
                        type="text"
                        [(ngModel)]="user.newStreet"
                        placeholder="New Street"
                      />
                      <input
                        type="text"
                        [(ngModel)]="user.newCountry"
                        placeholder="New Country"
                      />

                      <button (click)="confirmUpdate(user.id)">OK</button>
                    </div>
                    <button (click)="toggleEdit(user.id)" class="edit-button">
                      Edit
                    </button>
                    <button (click)="deleteUser(user.id)" class="delete-button">
                      Delete
                    </button>
                  </div>
                </div>
              </ng-container>
              <hr class="row-separator" />
            </div>
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
