<footer class="site-footer" role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>About Us</h3>
        <p>
          We provide premium culinary appliances to enhance your cooking
          experience. Located on Tirana Street in Prizren, we offer a world of
          culinary possibilities.
        </p>
      </div>
      <div class="col-md-5">
        <div class="working-hours">
          <h3>Working Hours</h3>
          <p>Monday - Saturday: 10:00 AM - 6:00 PM</p>
        </div>
        <div class="contact-info">
          <h3>Contact</h3>
          <ul class="footer-link">
            <li><span>Address:</span> Rr Tirana, Prizren, KOSOVA</li>
            <li><span>Phone:</span> +383 44 663 144</li>
            <li>
              <span>Email:</span>
              <a href="mailto:info@gastronova.com" class="text-dark"
                >gastronova</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <h3>Quick Links</h3>
        <div class="footer-link">
          <a href="/products" class="text-dark text-decoration-none mr-3"
            >Products</a
          >
          <a routerLink="/About" class="text-dark text-decoration-none mr-3"
            >About</a
          >
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <p>
          &copy;{{ currentYear }} All rights reserved | Made with
          <i class="fa fa-heart-o" aria-hidden="true"></i> by Dijar
        </p>
      </div>
    </div>
  </div>
</footer>
