<footer>
  <div
    class="site-footer"
    role="contentinfo"
    style="margin-top: 30px"
    data-aos="fade-up"
    data-aos-duration="1000"
  >
    <div class="footer-line">
      <div class="row mb-5">
        <div class="col-md-4 mb-5">
          <h3>About Us</h3>
          <p class="mb-5">
            Our company is located on Tirana Street in Prizren, you can discover
            a world of culinary possibilities with our wide range of premium
            gastro appliances, designed to elevate your cooking experience.
          </p>
          <ul class="list-unstyled footer-link d-flex footer-social">
            <li>
              <a href="3" class="p-2"
                ><img src="#" height="30" width="30" alt="Snapchat"
              /></a>
            </li>
            <li>
              <a href="#" class="p-2"
                ><img src="#" height="30" width="30" alt="Facebook"
              /></a>
            </li>
            <li>
              <a href="#" class="p-2"
                ><img src="#" height="30" width="30" alt="Instagram"
              /></a>
            </li>
          </ul>
        </div>
        <div class="col-md-5 mb-5">
          <div class="mb-5">
            <h3>Working Schedule</h3>
            <p>
              <strong class="d-block font-weight-normal text-black"
                >Monday - Saturday</strong
              >
              10:00 - 18:00
            </p>
          </div>
          <div>
            <h3>Contact</h3>
            <ul class="list-unstyled footer-link">
              <li class="d-block">
                <span class="d-block text-black">Address:</span>
                <span>Rr Tirana, Prizren, KOSOVA</span>
              </li>
              <li class="d-block">
                <span class="d-block text-black">Phone:</span>
                <span>+383 44 663 144</span>
              </li>
              <li class="d-block">
                <span class="d-block text-black">Email:</span>
                <span>info-gastronova.com</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 mb-5">
          <ul class="list-unstyled footer-link">
            <li><a href="/Home">Home</a></li>
            <li><a href="/Collection">Collection</a></li>
            <li><a href="/About">About</a></li>
          </ul>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="row">
        <div class="col-12 text-md-center text-left">
          <p>
            &copy;{{ currentYear }} All rights reserved | This template is made
            with <i class="fa fa-heart-o" aria-hidden="true"></i> by
            <a
              href="https://www.instagram.com/dijar.zurnagji/"
              target="_blank"
              rel="noopener noreferrer"
              >Dijar ZRN</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
