<div class="container-fluid px-0">
  <header>
    <div class="shape"></div>
    <nav class="navbar fixed-top navbar-expand-lg navbar-transparent">
      <a class="navbar-brand" href="products">Dashboard Panel</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a
              routerLink="/dashboard-panel/dashboard-panel-products"
              class="nav-link"
            >
              <i class="zmdi zmdi-link me-2"></i> Products
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/dashboard-panel/users" class="nav-link">
              <i class="zmdi zmdi-widgets me-2"></i> Users
            </a>
          </li>
          <li class="nav-item">
            <a href="/dashboard-panel/orders" class="nav-link">
              <i class="zmdi zmdi-calendar me-2"></i> Orders
            </a>
          </li>
          <li class="nav-item">
            <button routerLink="/products" class="nav-link">
              <i class="zmdi zmdi-calendar me-2"></i> Go to Customer Page
            </button>
          </li>
        </ul>
        <button class="btn btn-danger btn-sm ml-auto" (click)="Logout()">
          Logout
        </button>
      </div>
    </nav>
  </header>
  <div><router-outlet></router-outlet></div>
</div>
